{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    {{ page.body|richtext }}
    <div class="container">
        <div class="row">
    <div class="card-deck mb-3">
        {% for post in capstonepages %}
        {% with post=post.specific %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                {% for item in post.gallery_images.all %}
                {% image item.image original as photo %}
              <img class="card-img-top" src="{{ photo.url }}" alt="{{ photo.caption }}" height="250">
                {% endfor %}
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.summary|richtext }}</p>
            </div>
            <div class="card-footer">                
                    <a href="{% pageurl post %}" class="btn btn-primary" style="float: right">Read More</a>
                    </div>
            </div>
        </div>
          {% endwith %}
          {% endfor %} 
    </div>
</div>
</div>
    {% endblock %}