{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

    {% if request.GET.tag|length %}
        <h4>Showing pages tagged "{{ request.GET.tag }}"</h4>
    {% endif %}

    {% for capstonepage in capstonepages %}

          <p>
              <strong><a href="{% pageurl capstonepage %}">{{ capstonepage.title }}</a></strong><br />
              <small>Revised: {{ capstonepage.latest_revision_created_at }}</small><br />
              {% if capstonepage.author %}
                <p>By {{ capstonepage.author.profile }}</p>
              {% endif %}
          </p>

    {% empty %}
        No pages found with that tag.
    {% endfor %}

{% endblock %}